version: 2.1

jobs: 
  build:
    docker: 
      - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo ${CURRENT_BRANCH}
      - restore_cache:
          keys:
            - app-{{ checksum "package.json" }}
            - app-
      - run:
          name: install dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: app-{{ checksum "package.json" }}

  deploy-to-aws-s3:
    docker:
      - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout
      - run: 
          name: Show current branch
          command: echo ${CURRENT_BRANCH}
      - run:
          name: installing AWS cil
          working_directory: /
          command: |
            sudo apt-get -y -qq update
            sudo apt-get install awscli
            sudo apt-get install -y python3-pip python-dev build-essential
      - run: 
          name: Build project
          command: |
            npm install
            npm run build
            cd build
            zip ../build.zip -r * .[^.]*
            echo "Build Succesful"
      - run:
          name: Deply to AWS s3
          command: |
            if [ "$(CURRENT_BRANCH)" == "main" ]
            then
              aws --region ${AWS_REGION} s3 sync ~/repo/build s3://${AWS_BUCKET_PROD} --delete
            elif [ "$(CURRENT_BRANCH)" == "staging" ]
            then
              aws --region ${AWS_REGION} s3 sync ~/repo/build s3://${AWS_BUCKET_STAGING} --delete
            else
              aws --region ${AWS_REGION} s3 sync ~/repo/build s3://${AWS_BUCKET_DEV} --delete
            fi

  deploy-to-aws-cloudfront:
    docker:
      - image: circleci/node:latest
    working_directory: ~/repo
    steps:
      - checkout
      - run: 
          name: Show current branch
          command: echo ${CURRENT_BRANCH}
      - run:
          name: installing AWS cil
          working_directory: /
          command: |
            sudo apt-get -y -qq update
            sudo apt-get install awscli
            sudo apt-get install -y python-pip python-dev build-essential
      - run: 
          name: Build project
          command: |
            npm install
            npm run build
            cd build
            zip ../build.zip -r * .[^.]*
            echo "Build Succesful"
      - run:
          name: Deply to AWS s3
          command: |
            aws configure set preview.cloudfront
            if [ "$(CURRENT_BRANCH)" == "main" ]
            then
              aws cloudfront create-invalidation --distribution_id ${DISTRIBUTION_ID_PROD} --path /\*
            elif [ "$(CURRENT_BRANCH)" == "staging" ]
            then
              aws cloudfront create-invalidation --distribution_id ${DISTRIBUTION_ID_STAGE} --path /\*
            else
              aws cloudfront create-invalidation --distribution_id ${DISTRIBUTION_ID_DEV} --path /\*
            fi

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy-to-aws-s3:
          requires: 
            - build
          filters:
            branches:
              only:
                - dev
                - staging
                - main
      - deploy-to-aws-cloudfront:
          requires: 
            - build
          filters:
            branches:
              only:
                - dev
                - staging
                - main